<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{site.email}}">{{site.email}}</a></li>
            <li><a href="mailto:isaac.leimgruber@epfl.ch">isaac.leimgruber@epfl.ch</a><li>
            <li><a href="mailto:kevin.kappel@epfl.ch">kevin.kappel@epfl.ch</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
              <a href="IsaacLeimgruber/ADA_labs_repo/tree/master/Project"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="username"><br>Project Page</span></a>
          </li> 
          <li>
            <a href="https://github.com/charlesthiebaut">Charles Thiebaut</a>
          </li>
           <li>
            <a href="https://github.com/IsaacLeimgruber">Isaac Leimgruber</a>
          </li>
           <li>
            <a href="https://github.com/kevin-01">Kevin Kappel</a>
          </li>
          
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
